<div class="ui grey compact menu">
  <div class="nav-wrapper">
    <ul class="brand-logo right">
      <li><h3>Movie</h3></li>
      <li><h4><%= link_to "Add New Movie", new_movie_path %></h4></li>
    </ul>
   
  </div>
  
</div>

 


